.loading-placeholder {
    color: gray;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
    display: flex;
    width: 100%;
}

.loading-placeholder-icon {
    font-size: 150px;
    margin-right: 30px;
}

.loading-placeholder-words {
    font-size: 100px;
}
