.header-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: orange;
  margin-bottom: 30px;
}

.header-profile-img {
  margin: 10px 20px 0 auto;
  order: 2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px white solid;
}

.header-logo {
  padding: 0 20px;
  width: 115px;
}

.header-login-button {
  margin-left: auto;
  order: 2;
  border: none;
  background-color:orange;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}

.header-login-button:focus {
  outline: none;
}

.header-login-button:hover, .header-logo:hover, .header-profile-img:hover {
  cursor: pointer;
}

.header-login-button-logo {
  margin-right: 8px;
}
